.intro_container {
    width: 100%;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro_section {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: row;
    justify-content: space-around;
    gap: 5vw;
}

.intro_text {
    display: block;
    max-width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    transition: var(--default-transition);
}

.intro_text p {
    font-size: 1.28vw;
    height: 1.28vw;
}

.intro_text h1 {
    font-size: 2.12vw;
    border-bottom: 5px solid var(--primary-text);
}

.intro_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.intro_links a {
    text-decoration: none;
    font-size: 1.024vw;
    color: var(--link-text);
}

.intro_links a:hover {
    text-decoration: underline;
}

.intro_img_container {
    display: flex;
    align-items: center;
    width: 37vw;
    max-width: 37vw;
}

.intro_img_background {
    display: flex;
    justify-content: center;
    background-image: url('../Assets/portraitBackground.png');
    background-size: cover;
    width: 37vw;
    aspect-ratio: 595/554;
}

.intro_img {
    height: 76%;
    margin: auto 0px;
    padding-bottom: 12.5%;
}

#about_section {
    position: relative;
    background-color: var(--primary-bg);
    z-index: 1;
    height: 100vh;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#about_left_container {
    background-color: var(--accent-bg);
    width: 52%;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 100vh;
    z-index: 2;
}

#about_left_section {
    width: 100%;
    height: 100vh;
}

.about_left_section_fixed h1 {
    position: fixed;
}

.about_left_section_fixed_removed h1 {
    position: absolute;
}

#about_left_section h1 {
    top: 15vh;
    left: 18vw;
    font-size: 2.125vw;
    text-align: center;
}

#about_left_text {
    padding-bottom: 32vh;
    top: 40vh;
    left: 3vw;
    width: 40%;
}

#about_left_text p {
    font-size: 1.28vw;
}

#code_img_section {
    top: 10vh;
}

@media only screen and (max-width: 1280px) {
    .intro_text p {
        font-size: 1.4vw;
        height: 1.4vw;
    }
    
    .intro_text h1 {
        font-size: 2.33vw;
    }
    
    .intro_links a {
        font-size: 1.12vw;
    }
}

@media only screen and (max-width: 1024px) {
    .intro_text p {
        font-size: 1.7vw;
        height: 1.7vw;
    }
    
    .intro_text h1 {
        font-size: 2.83vw;
    }
    
    .intro_links a {
        font-size: 1.36vw;
    }
}

@media only screen and (max-width: 910px) and (orientation: portrait) {
    .intro_section {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }

    .intro_img_container {
        width: 55vw;
        max-width: 55vw;
    }

    .intro_img_background {
        width: 55vw;
    }

    .intro_text {
        max-width: 50%;
        margin-top: 10vh;
    }
    
    .intro_text p {
        font-size: 3.5vw;
        height: 3.5vw;
    }
    
    .intro_text h1 {
        font-size: 6.2vw;
    }
    
    .intro_links a {
        font-size: 3vw;
    }

    #about_section {
        flex-direction: column-reverse;
    }
    
    #about_left_container {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 45vh;
    }
    
    
    #about_left_section h1 {
        width: 100%;
        top: 58vh;
        left: 0;
        font-size: 4.2vw;
    }
    
    #about_left_text {
        width: 100%;
        top: 65vh;
        left: 0;
    }
    
    #about_left_text p {
        width: 80%;
        font-size: 3.6vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 640px) {
    .intro_img_container {
        width: 70vw;
        max-width: 70vw;
        margin-top: 5vh;
    }

    .intro_img_background {
        width: 70vw;
    }

    .intro_text {
        max-width: 70%;
        margin-top: 10vh;
    }
    
    .intro_text p {
        font-size: 6vw;
        height: 6vw;
    }
    
    .intro_text h1 {
        font-size: 10vw;
    }
    
    .intro_links a {
        font-size: 4.8vw;
    }

    .intro_container {
        height: 94vh;
    }

    #code_img_section {
        top: 6vh;
    }

    #about_left_section h1 {
        top: 57.5vh;
        font-size: 5vw;
    }
    
    #about_left_text {
        top: 64vh;
    }
    
    #about_left_text p {
        width: 80%;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 480px) {
    .intro_img_container {
        width: 75vw;
        max-width: 75vw;
        margin-top: 8vh;
    }

    .intro_img_background {
        width: 75vw;
    }

    .intro_text {
        max-width: 80%;
    }
    
    .intro_text p {
        font-size: 6.5vw;
        height: 6.5vw;
    }
    
    .intro_text h1 {
        font-size: 11vw;
    }
    
    .intro_links a {
        font-size: 5.2vw;
    }

    #about_left_section h1 {
        font-size: 5.3vw;
    }
    
    #about_left_text p {
        font-size: 4.3vw;
    }
}

@media only screen and (max-width: 320px) {

}