#intro_container {
    width: 100%;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);;
}

#intro_section {
    display: flex;
    position: fixed;
    width: 100%;
    height: 90vh;
    flex-direction: row;
    justify-content: space-around;
    gap: 5vw;
}

#intro_text {
    display: block;
    max-width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    transition: var(--default-transition);
}

#intro_text p {
    font-size: 1.5rem;
    height: 1.5rem;
    color: var(--primary-text);
}

#intro_text h1 {
    font-size: 2.5rem;
    color: var(--primary-text);
    border-bottom: 5px solid var(--primary-text);
}

#intro_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#intro_links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--link-text);
}

#intro_img_container {
    display: flex;
    align-items: center;
    width: 37vw;
    max-width: 37vw;
}

#intro_img_background {
    display: flex;
    justify-content: center;
    background-image: url('../Assets/portraitBackground.png');
    background-size: cover;
    width: 37vw;
    aspect-ratio: 595/554;
}

#intro_img {
    height: 76%;
    margin: auto 0px;
    padding-bottom: 12.5%;
}

#about_section {
    position: relative;
    background-color: var(--primary-bg);
    z-index: 1;
    height: 100dvh;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#about_left_container {
    background-color: var(--accent-bg);
    width: 52%;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 100dvh;
    z-index: 2;
}

#about_left_section {
    width: 100%;
    height: 100dvh;
}

#about_left_section h1{
    position: fixed;
    top: 15vh;
    left: 18vw;
    font-size: 2.5rem;
    text-align: center;
    color: var(--primary-text);
}

#about_left_text {
    position: fixed;
    top: 40vh;
    width: 40%;
    left: 3vw;
    padding-bottom: 32vh;
}

#about_left_text p{
    font-size: 1.5rem;
    color: var(--primary-text);
}


.hidden {
    visibility: hidden;
}
