.project_title {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    transition: var(--default-transition);
    font-size: 1.675vw;
}

.project_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5vh;
}

.project_item_container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    overflow: hidden;
}

.project_item_background {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 0;

    background-color: var(--accent-bg);
    border-radius: 40px;

    width: 100%;

    transition: 300ms ease-in-out
}

.projects_left_button {
    margin-left: 5%;
}

.projects_right_button {
    margin-right: 5%;
}

.direction_button {
    cursor: pointer;
    background: none;
    border: none;

    font-size: 1.636vw;
    color: var(--primary-text);

    height: min-content;

    margin-top: auto;
    margin-bottom: auto;
    transition: var(--default-transition);
}

.direction_button:hover {
    opacity: 0.5;
}

/* hi-res laptops and desktops */ 
@media only screen and (max-width: 1280px) {
    .direction_button {
        font-size: 1.636vw;
    }

    .project_title {
        font-size: 1.675vw;
    }
}

/* big landscape tablets, laptops, and desktops */
@media only screen and (max-width: 1024px) {
    .direction_button {
        font-size: 1.936vw;
    }

    .project_title {
        font-size: 1.975vw;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (max-width: 910px)  and (orientation: portrait) {
    .direction_button {
        font-size: 2.6vw;
    }

    .project_title {
        font-size: 2.6vw;
    }

    .project_item_background {
        flex-direction: column;
    }

    .project_item_background {
        border-radius: 30px;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media only screen and (max-width: 640px) {
    .direction_button {
        font-size: 2.9vw;
    }

    .project_title {
        font-size: 2.9vw;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media only screen and (max-width: 480px) {
    .direction_button {
        font-size: 3.2vw;
    }

    .project_title {
        font-size: 3.2vw;
    }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width: 320px) {
    
}