@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    transition: var(--default-transition);
}

body {
    font-family: "Kanit", sans-serif;
    background-color: var(--page-bg);
    transition: var(--default-transition);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="light"] {
    --logo-fill: black;
    --page-bg: white;
    --theme-url: url('./Assets/themeButtonLight.svg');
    --code-url: url('./Assets/codeImageLight.png');

    --primary-text: black;
    --link-text: #4543C7;
    --accent-text: #6462D0;

    --primary-bg: #6462D0;
    --accent-bg: #B5B5E8;
}

:root[data-theme="dark"] {
    --logo-fill: white;
    --page-bg: black;
    --theme-url: url('./Assets/themeButtonDark.svg');
    --code-url: url('./Assets/codeImageLight.png');

    --primary-text: white;
    --link-text: #6462D0;
    --accent-text: #B5B5E8;

    --primary-bg: #222163;
    --accent-bg: #403F9E;
    
}

:root {
    --placeholder-text: #B1B0E8;
    --button-bg: #5F5DD9;
    --default-transition: color .3s ease-in-out, background-color .3s ease-in-out,
        border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

.hidden {
    visibility: hidden;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}